* {
    margin: 0 !important;
    padding: 0 !important;
}

/* Definições de variáveis de cor personalizadas */
:root {
    --color1: #DFD6A7;
    --color2: #F7CE5B;
    --color3: #F7B05B;
    --color3-tranparente: rgba(247, 176, 91, 0.5);
    --color4: #AF9B46;
    --color5: #1F1300;
    --color6: #ffffffff;
    --color7: #EBEBEB;
}

/* ......................................................................... */
/*  Estilos para a barra de navegação (topo) */
.nav-top {
    background-color: var(--color3) !important;
}

/* Estilos para itens da barra de navegaçã */
.nav-item {
    margin: 0.5em !important;
    text-align: center !important;
}

/* Estilos para links dentro da navegação */
.nav-link {
    color: var(--color6) !important;
    background-color: var(--color4) !important;
    border-radius: 0.5em !important;

}

/*  Estilos para o botão de busca */
.btn-buscar {
    background-color: var(--color4) !important;
    color: var(--color6) !important;
}

/* Tamanho da img */
.car-img {
    max-height: 50em !important;

}

/* Texto das imagens */
.carousel-caption {
    height: 6.25em !important;
    background-color: var(--color3-tranparente) !important;
    border-radius: 1em !important;
    color: var(--color6) !important;
}

/* Divisão */
.divisao {
    background-color: var(--color3) !important;
    text-align: center !important;
    color: var(--color6) !important;
    padding: 2em !important;
    margin-bottom: 3em !important;
}

/* Pacotes */
.sec-pacotes {
    margin-left: 10% !important;
    margin-right: 10% !important;
    justify-content: center !important;
    margin: 0.625em !important;
}

.card {
    padding: 1% !important;
    margin: 0% 1% 1% !important;
    display: flex !important;
    flex-direction: column !important;
}

.card-body {
    flex: 1 !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
}

.card .btn {
    width: auto !important;
    /* deixa o botão do tamanho do texto */
    align-self: flex-start !important;
    /* alinha à esquerda (ou use center se quiser centralizado) */
}

.sec-pacotes img {
    width: 20;
    height: 200px;
    object-fit: cover;
}


/* Cotatos */
.titulo {
    background-color: var(--color3) !important;
    color: var(--color6) !important;
    padding: 3% !important;
}


.sec-contatos {
    padding: 3em !important;
    margin-bottom: 10% !important;
    margin-left: 1% !important;
    margin-right: 1% !important;
    height: 30em !important;
}


/* Mapa e icons */
.div-mapa {
    text-align: center !important;
    align-items: center !important;
    background-color: var(--color7);
    border-radius: 1em !important;
}

.formulario {
    margin-right: 10% !important;
    width: 40% !important;
    background-color: var(--color7);
    border-radius: 1em !important;
}

.mapa iframe {
    /* display: flex !important; */
    border-radius: 1em !important;
    justify-content: center !important;
    /* margin-left: 17% !important; */
}

.iconredes {
    display: flex !important;
    justify-content: center !important;
    gap: 3em !important;
    margin-bottom: 1em !important;
}


/* footer */
footer {
    background-color: var(--color3) !important;
    color: var(--color6) !important;
    padding: 0.5em !important;
    margin: 0 !important;
}